@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900|Slabo+27px');
:root {
    --plava: #3496d8; /*rgb(52, 150, 216)*/
    --tamnoSiva: #8f8f8f;
    --bela: #fff;
    --crna: #111;
    --padding: 50px 0;
    --fontFamily: 'Slabo 27px', serif;
    --fontHeadings: 'Raleway', sans-serif;
    --fontSize: 16px;
    --transition: .35s ease-in-out;
    --textShadow: 0 0 3px var(--tamnoSiva);
}
/********************
basic styles
********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1.6;
    color: var(--tamnoSiva);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontHeadings);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: var(--transition);
}
.container {
    width: 90%;
    margin: auto;
}
h2 {
    color: var(--plava);
    font-size: 3.2rem;
    letter-spacing: -1px;
    padding-bottom: 10px;
}
/********************
header
********************/
header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: var(--bela);
}
header nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px 0;
}
header .logo {
    color: var(--bela);
    font-size: 2rem;
    letter-spacing: 1px;
    text-shadow: var(--textShadow);
    line-height: 1.2;
}
header .logo:hover {
    color: var(--plava);
}
header ul {
    display: flex;
}
header ul li {
    margin-left: 30px;
}
header ul li a {
    color: var(--bela);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.0rem;
    text-shadow: var(--textShadow);
    padding: 15px;
    border-radius: 30px;
}
header ul li a:hover {
    background-color: var(--bela);
    color: var(--plava);
}
header .hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
header .hgroup h1 {
    font-size: 5.2rem;
    text-shadow: 0 0 5px var(--crna);
    line-height: 1.4;
}
header .hgroup h4 {
    font-size: 2rem;
    text-shadow: var(--textShadow);
}
header .hgroup h5 {
    font-size: 1.2rem;
    text-shadow: 0 0 2px var(--crna);
    padding-top: 15px;
    letter-spacing: 1px;
    text-shadow: var(--textShadow);
}
/********************
introduction
********************/
#introduction {
    padding: var(--padding);
}
#introduction img {
    width: 100%;
}
#introduction article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#introduction article:first-child {
    margin-bottom: 80px;
}
#introduction article .img {
    flex: 0 0 48.5%;
}
#introduction article .text {
    flex: 0 0 48.5%;
}
#introduction article .field {
    flex: 0 0 30%;
    text-align: center;
}
#introduction .text p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
#introduction button {
    font-size: 1.1rem;
    background-color: var(--plava);
    color: var(--bela);
    padding: 15px 80px;
    border-radius: 30px;
    border: 1px solid var(--plava);
    transition: var(--transition);
    cursor: pointer;
}
#introduction button:hover {
    background-color: var(--bela);
    color: var(--plava);
}
#introduction article .field p {
    text-align: left;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}
#introduction article .field h4 {
    font-size: 1.5rem;
    color: var(--plava);
    padding: 30px 0 20px;
}
#introduction article .field i {
    font-size: 4rem;
    color: var(--plava);
    transition: var(--transition);
}
#introduction article .field i:hover {
    color: var(--tamnoSiva);
}
/********************
ourWorks
********************/
#ourWorks {
    padding: var(--padding);
    text-align: center;
}
#ourWorks p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding-bottom: 45px;
}
#ourWorks img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: var(--transition);
}
#ourWorks img:hover {
    opacity: .85;
}
#ourWorks article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#ourWorks article div {
    flex: 0 0 31%;
    height: 600px;
    margin-bottom: 65px;
    position: relative;
}
#ourWorks article div::after {
    display: block;
    content: "";
    height: 10px;
    background-color: var(--plava);
    width: 100% ;
}
#ourWorks article div span {
    position: absolute;
    background-color: rgba(52, 150, 216,.5);
    font-weight: 700;
    color: var(--bela);
    padding: 10px 20px;
    letter-spacing: 0.5px;
    top: 0;
    right: 0;
    font-family: var(--fontHeadings);
}
/********************
contactUs
********************/
#contactUs {
    background-image: url(img/footer.jpg);
    background-position: center;
    background-size: cover;
    padding: var(--padding);
    color: var(--bela);
}
#contactUs h2 {
    color: var(--bela);
    font-size: 4rem;
    display: inline-block;
    border-bottom: 10px solid var(--bela);
    line-height: 1.2;
}
#contactUs hr {
    position: relative;
    border: none;
    height: 1px;
    display: block;
    width: 100%;
    background-color: var(--bela);
    top: -10px;
}
#contactUs p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-top: 25px;
}
#contactUs .contact {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
#contactUs .contact div {
    padding: 0 0 80px 50px;
    flex: 0 0 50%;
}
#contactUs .contact i,
#contactUs .contact span {
    font-size: 1.7rem;
    letter-spacing: 1px;
    transition: var(--transition);
}
#contactUs .contact i:hover {
    color: var(--plava);
}
#contactUs .contact input {
    font-size: 1.1rem;
    padding: 10px;
    font-family: var(--fontFamily);
    outline: none;
    width: 230px;
    bottom: 1px solid var(--bela);
    line-height: 1.1;
}
#contactUs input::placeholder {
    color: var(--tamnoSiva);
}
#contactUs .contact button {
    position: relative;
    left: -3px;
    color: var(--bela);
    background-color: var(--plava);
    border: 2px solid var(--plava);
    font-size: 1rem;
    padding: 10px 30px;
    text-transform: uppercase;
    line-height: 1.2;
    transition: var(--transition);
    cursor: pointer;
}
#contactUs .contact button:hover {
    background-color: var(--bela);
    color: var(--plava);
}


